@import url('../vendor/normalize.css');
@import url('../blocks/page/page.css');
@import url('../blocks/content/content.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__error-fieldset/popup__error-fieldset.css');
@import url('../blocks/popup/__error-fildsets-aside/popup__error-fildsets-header.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__star-style/popup__star-style.css');
@import url('../blocks/popup/__input-logo/popup__input_logo.css');
@import url('../blocks/popup/__input-label/popup__input-label.css');
@import url('../blocks/popup/__flex-container/popup__flex-container.css');
@import url('../blocks/popup/__submit-button/popup__submit-button.css');
@import url('../blocks/popup/__close-button/popup__close-button.css');

.content {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.popup__error-fieldset-logo-background {
    margin: 0;
    padding: 0;
    max-width: 163px;
    width: 100%;
    max-height: 163px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    border-radius: 100%;
    position: relative;
    margin-top: 66px;
    transition: opacity .4s linear;
}

.popup__error-fieldset-logo-background:hover {
    opacity: .8;
}



.popup__input-logo-custom-styles {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.popup__input-logo-custom-pic {
    display: block;
    max-width: 30px;
    align-self: center;
}

.popup__input-logo-custom-text {
    display: inline-block;
    max-width: 56px;
    text-align: center;
}

.popup__input-logo-label {
    border: 1px red solid;
    top: 0;
    position: absolute;
    left: 0;
    display: inline;
    width: 100%;
    text-align: center;
    top: -36px;
    font-size: 14px;
    line-height: 24px;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}


.section__button {
    margin-bottom: 1649px;
    background-color: transparent;
    border: 1px solid #E5266E;
    color: #E5266E;
    border-radius: 4px;
    width: 147px;
    height: 48px;
    margin-top: 300px;
    margin-left: 300px;
    transition: all .5s linear;
}

.section__button:hover {
    opacity: .5;
    cursor: pointer;
}

.popup__submit-button_disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    cursor: default;
    opacity: 1;
}

.popup__submit-button_disabled:hover {
    opacity: 1;
}

.popup__input-error {
    margin: 0;
    padding: 0%;
    top: 55px;
    left: 0;
    color: #FF0000;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 358px;
}