body {
    max-width: 100vw;
}

.table {
    max-width: 90vw;
    margin: 0 auto;
    border: 1px red solid;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.table__header {

    display: flex;
    justify-content: space-between;
}